@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-cus-purple{
    color: #9333E9;
}

@keyframes scroll-infinite {
    from {
    transform: translateX(0);
    }
    to {
    transform: translateX(calc(-100% / 2));
    }
}

.animate-scroll-infinite {
    animation: scroll-infinite 20s linear infinite;
    width: fit-content;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}